<form method="post" id="new-learning" class="bp" action="/learnings" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="P8HkKEp0t4nuBMjB7w8sF2Sp6D0985sS7sZFGbIZUGM=" name="authenticity_token"></div>
  <div class="field">
    <input type="text" size="30" placeholder="O que você aprendeu hoje?" name="learning[content]" id="learning_content">
  </div>
  <div class="actions">
    <input type="submit" value="Save" name="commit" id="learning_submit">
  </div>
</form>